<div class="container">
    <div class="banner-introducao ">
        <div class="row">
            <form action="/Home/Index" id="textoIntro" class="col-md-7  txt-introdutivo ">
                <h2>Seja Bem-Vindo!</h2>
                <p>
                    Encontre animais adoraveis a espera de um lar. Todos disponiveis para adoção, pesquise e descobre
                    qual será seu novo amor. Adote e veja como pets pode melhorar sua vida!
                </p>

                <!--PESQUISA-->
                <input class="form-control border rounded-5 " name="busca" type="search" placeholder="🔎 Pesquise Aqui!...">
                <br />  

                <a type="submit" class="btn text-start border rounded-4 bg-white">Pesquisar</a>

            </form>
            <div class="col-md-5 d-none d-md-block">
                <img class="img-fluid" src="/img/HOME/dog-cat.png">
            </div>
        </div>
    </div>

    <!-- BANNER CADASTRAR -->
    <div class=" div-banner border rounded-4 shadow ">
        <div class="row">
            <div class="col-lg text-center my-4 d-none d-sm-block">
                <img id="imgDog" class=" img-fluid imgBanner mx-3" src="/img/HOME/dog-div.jpg" alt="">
                <img id="imgCat" class=" img-fluid imgBanner mx-3 " src="/img/HOME/cat-div.jpg" alt="">
            </div>
            <div class="col m-4 text-end txt-banner ">
                <h1 class="txt-titulos">Encontre seu amigo!</h1>
                <h2 class="txt-outro-titulo"> Amigos da Rua</h2>
                <p class="txt-introdutivo">
                    O processo é simples e gratuito.
                    Basta preencher algumas informações básicas e começar
                    a navegar pelos perfis dos animais disponíveis para adoção.
                    Cadastre-se agora!
                </p>
                <a href="/Usuario/Cadastro" class="btn border rounded-4 bg-white">Cadastrar-se</a>
                <a href="/Usuario/Login" class="btn border rounded-4 bg-white">Entrar</a>
            </div>
        </div>
    </div>

    <!-- PARTE III -->
    <div class="banner-final">
        <div class="row">
            <div class="col-lg txt-introdutivo ">
                <h2 class="txt-titulos">Conheça Amigos da Rua</h2>
                <p><i class="bi bi-check-circle-fill"></i>&ensp;Encontre todos os pets da região em um só lugar.</p>
                <p>
                    <i class="bi bi-check-circle"></i>&ensp;Encontrou um pet e não pode adotar? Encontre lar
                    temporario
                    rapidamente.
                </p>
                <p><i class="bi bi-check-circle"></i>&ensp;Apaixone por cada pet e descubra meneiras de ajudar. </p>

                <a href="/Pets/Pets" type="button" class="btn text-start border rounded-4 bg-white">Ver Pets</a>
            </div>


            <div class="col-lg">
                <img class="img-fluid" src="/img/HOME/dog-footer.png">
            </div>

        </div>
    </div>

</div>