<main class="container">
    <section id="textoIntro" class="row">
        <div class="text-start  col-md-7">
            <h1 class="txt-titulos">Sobre nós</h1>
            <p class="txt-introdutivo">
                Nós somos os Amigos da Rua, uma instituição dedicada a dar amor e um lar para
                os animais de rua. Nosso objetivo é proporcionar um ambiente seguro e acolhedor para os nossos amigos
                de quatro patas enquanto encontramos a família perfeita para eles.
            </p>
        </div>
        <div class="col-md-3 d-none d-md-block mx-auto text-center ">
            <img class="img-fluid " src="/img/SOBRE/blob-part1.png">
        </div>
    </section>

    <section id="textoIntro" class="text-end row ">
        <div class="col-md-4 d-none d-md-block mx-auto text-center">
            <img class="img-fluid" src="/img/SOBRE/blob-part2.png">
        </div>
        <div class="col-md-8">
            <h1 class="txt-titulos">Cuidados e Parceiria</h1>
            <p class="txt-introdutivo">
                Na Amigos da Rua, temos uma equipe dedicada de voluntários que trabalham
                incansavelmente para cuidar e encontrar lares amorosos para nossos animais resgatados.
                Todos os nossos animais recebem os cuidados necessários para garantir que estejam saudáveis e
                felizes, e trabalhamos em parceria com nossos adotantes para garantir que eles recebam o amor e o
                carinho que merecem.
            </p>
        </div>
    </section>

    <section id="textoIntro" class="row">
        <div class="text-start col-8 mb-5">
            <h1 class="txt-titulos">Nossa Missão</h1>
            <p class="txt-introdutivo">
                Amigos da Rua é uma organização sem fins lucrativos dedicada a salvar animais
                de rua e encontrar para eles um lar amoroso. Nosso objetivo é proporcionar um ambiente seguro e
                saudável para
                esses animais enquanto trabalhamos para mudar a mentalidade das pessoas sobre a adoção de animais.
                Acreditamos que todos os animais merecem uma chance de ter um lar amoroso, e estamos comprometidos
                em fazer a diferença em suas vidas.
            </p>
        </div>
        <div class="col-md-4 d-none d-md-block mx-auto text-center">
            <img class="img-fluid" src="/img/SOBRE/blob-part3.png">
        </div>
    </section>
</main>
