<section class="d-flex min-vh-100 justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class=" Quad-Pai2 d-none d-sm-none d-md-none d-lg-block img-container text-center position-absolute"
                 id="QuadPai2" style=" width: 240px">
                <img class="img-fluid h-100 w-100" src="/img/LOGIN/gatinlindo.png" alt="">
            </div>
            <div class="col-2 d-none d-sm-none d-md-none d-lg-block"></div>
            <div class="col-8 col-sm-10 col-md-6 mx-auto d-flex d-sm-flex justify-content-center">
                <div class="mt-lg-3 col-12 col-sm-12 col-lg-8 col-md-12 d-flex d-sm-flex justify-content-center border border-dark-subtle rounded-4">
                    <div class="col-9 col-md-10 col-sm-9 ps-lg-5">
                        <div class="pt-4 text-center text-md-start">
                            <p class="fw-b fs-5">BEM-VINDO</p>
                        </div>
                        <div class="mb-2 text-center text-md-start">
                            <label for="email" class="form-label ms-md-3">Endereço de e-mail</label>
                            <input type="email" class="form-control rounded-5" placeholder="Digite seu e-mail aqui"
                                   style="background-color: #EAD3B2; border: none;">
                        </div>
                        <div class="mb-3 text-center text-md-start">
                            <label for="senha" class="form-label ms-md-3">Senha</label>
                            <input type="password" class="form-control rounded-5" placeholder="Digite sua senha aqui"
                                   style="background-color: #EAD3B2; border: none;">
                        </div>
                        <div class="pb-4 mt-1 d-flex justify-content-center justify-content-md-end">
                            <button type="button" class="btn rounded-5 fs-6"
                                    style="background-color: #EAD3B2; border: none;">
                                Entrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>