@model PI3.Models.UsuarioViewModel

<link rel="stylesheet" href="~/css/outrocss.css">


<div class="d-flex min-vh-100 justify-content-center align-items-center">
    <form action="/Usuario/SalvarDados" method="post" enctype="multipart/form-data" class=" FormCadastro m-5 border border-dark-subtle rounded-5">
        <div id="inputCadastro" class="row d-flex align-items-center ">
            <div class="col-md d-none d-md-block">
                <img class="img-fluid" src="/img/CADASTRO/dog-register.png">
            </div>
            <div class="col-md inputCadastro">
                <h2 class="txt-titulo">CADASTRE-SE</h2>
                <div class="d-grid gap-2">
                    <label>Nome</label>
                    <input type="text" class="form-control rounded-4" name="NOME" id="nome">
                    <label>Email</label>
                    <input type="email" class="form-control rounded-4" name="EMAIL" id="email">
                    <label>Telefone</label>
                    <input type="tel" class="form-control rounded-4" name="TELEFONE" id="telefone">
                </div>
                <div class="row mt-3">
                    <div class="col-sm">
                        <label>Senha</label>
                        <input type="password" class="form-control rounded-4" name="SENHA" id="senha">
                    </div>
                    <div class="col-sm">
                        <label>Confirmar Senha</label>
                        <input type="password" class="form-control rounded-4" name="SENHA" id="Confsenha">
                        <p id="mensagem"></p>
                        <div class="text-end">
                            <button type="submit" class="btn rounded-4 mt-3" style="background-color: #D9A273;">
                                Cadastrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@*<script>
    var senhaInput = document.getElementById("senha");
    var confSenhaInput = document.getElementById("confSenha");
    var mensagem = document.getElementById("mensagem");

    senhaInput.addEventListener("input", verificarSenha);
    confSenhaInput.addEventListener("input", verificarSenha);

    function verificarSenha() {
        if (senhaInput.value === confSenhaInput.value) {
            alert("As senhas coincidem!")
        } else {
            alert("As senhas não coincidem")
        }
    }
</script>*@