<div class="container-fluid" style="background-color: #E3CAA5;">
        <div class="row">
            <div class="col-lg">
                <h1 class="titulo  ">CONHEÇA OS PETS</h1>
                <p style="margin-left: 10%;" class="txt-introdutivo">Adote um pet e ganhe um amigo para a vida toda! Veja os pets disponíveis para adoção.</p>
            </div>
            <div class="col-lg d-none d-lg-block mx-auto">
                <img class="img-banner d-lg-block col-md mx-auto"
                     src="/img/PETS/Group 10.png" alt="">
            </div>

        </div>
    </div>
    <br>
    <h1 style="text-align: center;">DISPONÍVEIS PARA ADOÇÃO</h1>
    <br>
    <div class="container-fluid my-5">

        <div class="container">

            <div class="row my-5 d-flex">

                <div class="col">

                    <div class="card mx-auto" style="width: 18rem;">
                        <div>
                            <img src="/img/PERFIL USUARIO/pluto.jpg" class="mx-auto d-block h-100 w-100"
                                 alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pluto, 5 anos</h5>
                            <p class="card-text">Brincalhão e carinhoso</p>
                        </div>
                    </div>



                </div>


                <div class="col">
                    <div class="card mx-auto" style="width: 18rem;">
                        <div>
                            <img src="/img/PERFIL USUARIO/pluto.jpg" class="mx-auto d-block h-100 w-100"
                                 alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pluto, 5 anos</h5>
                            <p class="card-text">Brincalhão e carinhoso</p>
                        </div>
                    </div>
                </div>




                <div class="col">

                    <div class="card mx-auto" style="width: 18rem;">
                        <div>
                            <img src="/img/PERFIL USUARIO/pluto.jpg" class="mx-auto d-block h-100 w-100"
                                 alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pluto, 5 anos</h5>
                            <p class="card-text">Brincalhão e carinhoso</p>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row d-flex">

                <div class="col">
                    <div class="card mx-auto" style="width: 18rem;">
                        <div>
                            <img src="/img/PERFIL USUARIO/pluto.jpg" class="mx-auto d-block h-100 w-100"
                                 alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pluto, 5 anos</h5>
                            <p class="card-text">Brincalhão e carinhoso</p>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card mx-auto" style="width: 18rem;">
                        <div>
                            <img src="/img/PERFIL USUARIO/pluto.jpg" class="mx-auto d-block h-100 w-100"
                                 alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pluto, 5 anos</h5>
                            <p class="card-text">Brincalhão e carinhoso</p>
                        </div>
                    </div>
                </div>




                <div class="col">

                    <div class="card mx-auto" style="width: 18rem;">
                        <div>
                            <img src="/img/PERFIL USUARIO/pluto.jpg" class="mx-auto d-block h-100 w-100"
                                 alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pluto, 5 anos</h5>
                            <p class="card-text">Brincalhão e carinhoso</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>